<!DOCTYPE html>  
<html lang="fr">  
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Transparence sur la commande publique">

    <title>better-place</title>
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div>
        <a href="/">index</a>
        <a href="/all">all</a>
        <a href="/search">search</a>
      </div>
    </header>
    {{{ body }}}
  </body>
</html>  
