<h1 class="ui header">Better Place</h1>

<p>
Better Place propose le téléchargement et la recherche sur des dossiers de marchés publics.
</p>

<p>
Les Dossiers de Consultation des Entreprises (DCE) sont récupérés depuis <a href='https://www.marches-publics.gouv.fr/'>PLACE</a> avec <a href='https://github.com/michelbl/scraper-place'>scraper-place</a>. Seuls les dossiers postés sur PLACE après novembre 2017 sont disponible.
</p>

<p>
J'ai développé cet outil afin d'améliorer la transparence de la commande publique en France, mais il peut intéresser des entreprises et des administrations qui pourront trouver des exemples de DCE.
</p>


<h2 class="ui header">Données</h2>

<p>
Les nouveaux dossiers sont scrapés tous les matins puis publiés sur <a href='https://betterplace.info/'>https://betterplace.info/</a>.
</p>

<p>
Chaque dossier est dupliqué sur AWS Glacier par précaution.
</p>

<p>
La liste des dossiers est contenue dans une base PostgreSQL. Cette base est sauvegardée de manière hebdomadaire sur AWS S3.
</p>

<p>
L'extraction du contenu est effectuée avec Apache Tika. Pour pouvoir parser les gros dossiers (certains peuvent dépasser le giga-octet !) une instance AWS EC2 t2.large est utilisée pour cette étape.
</p>

<p>
Le contenu extrait est indexé par ElasticSearch.
</p>

<p>
Depuis sa mise en production (octobre 2017), <b>{{docCount}}</b> dossiers on été indexés pour un total de 420 Go (en octobre 2018). Cela représente environ 100 dossiers par jour ouvré et 35 Go par mois. L'index ElasticSearch pèse 6 Go.
</p>

<p>
Si vous êtes intéressé pour obtenir un copie de mon historique (dossiers / base d'index) vous pouvez scraper le site ou prendre contact avec moi sur GitHub.
</p>

<p>
Les coûts des services nécessaires pour le stockage et la mise en ligne de cet index se montent à :
</p>

<div class="ui bulleted list">
  <div class="item">serveur online.net (serveur web + elasticsearch) : 15€/mois</div>
  <div class="item">AWS Glacier : 2€/mois</div>
  <div class="item">AWS EC2 : 1 x t2.large x 10mn/jour = 30c/mois</div>
  <div class="item">Nom de domaine : 12€/an</div>
</div>


<h2 class="ui header">Code source</h2>

<p>
La documentation et le code source de <a href='https://github.com/michelbl/scraper-place'>scraper-place</a> et <a class="item" href="https://github.com/michelbl/better-place">Better Place</a> sont tenus à jour sur Github.
</p>

<p>
Merci de signaler les problèmes éventuellement rencontrés par un issue sur GitHub.
</p>


<h2 class="ui header">Conditions d'accès et de réutilisation</h2>

<p>
Vous pouvez accéder aux informations publiées par ce site de comme bon vous semble.
</p>

<p>
Vous pouvez faire ce que vous voulez du code source de Better Place et de scraper-place. Toutefois, si vous réutilisez mon travail, je vous serais reconnaissant d'ajouter à la réutilisation un lien vers ce site.
</p>

<p>
Les DCE sont soumis aux éventuelles conditions de réutilisation fixées par les administrations les ayant produits. De plus, les conditions de réutilisation sont encadrées par le code des relations entre le public et l'administration (livre III, titre II). En particulier "la réutilisation des informations publiques est soumise à la condition que ces dernières ne soient pas altérées, que leur sens ne soit pas dénaturé et que leurs sources et la date de leur dernière mise à jour soient mentionnées".
</p>

<p>
Pareillement, les métadonnées en provenance de PLACE sont soumises aux conditions de réutilisation fixées par la direction des achats de l'Etat.
</p>
