<h1>Rechercher un DCE</h1>

<form action="/search">
  <input type="text" name="q"><br>
  <input type="submit" value="Rechercher">
</form>


<ul>
  {{#each hitsIds}}
    <li>
      {{this}}
    </li>
  {{/each}}
</ul>
