body {
  background-color: #FFFFFF;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main.container {
  margin-top: 7em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
.highlight {
  margin-top: 0.5em;
  color: #555;
}
#searchfilters {
  margin-top: 1em;
}
#searchfilters .ui.dividing.header {
  margin-top: 1.5em;
}
#searchfilters .inline.fields > label {
  margin-right: 1.5em;
}
